@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

.urbanist-font {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
}

/* Global CSS */
.main-bg {
  background-color: #eaeced;
}

.primary-bg {
  background-color: #caeb66;
}

.dark-bg {
  background-color: #1f1f1f;
}

.dark-text {
  color: #303030;
}

.primary-green {
  color: #03373d;
}

.primary-gray {
  color: #606060;
}

.footer-bg {
  background-color: #0b0b0b;
}
